.list {
    min-height: 50px;
    margin-left: 120px;
  }

.title{
    margin-left: 16%;

}
.title1{
    margin-left: 35%;

}
.title2{
    margin-left: 10%;

}

.content{
    margin-right: 16%;
    font-size: large;
}